.main {
	align: left;
}

.main > img {
    margin: 4px 2px;
}

.field {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 30em;
    font-size: small;
    /* Disable text selection, which can occur as a side-effect of a double-
       or triple-click. */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.field + .field {
    font-size: x-small;
    max-width: 39em;
}
