/* See the .list child style explanation below. */
@external .com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem;
@external .com-google-gwt-user-cellview-client-CellList-Style-cellListSelectedItem;

.main {
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px none;
    border-radius: 5px;
    position: relative;
    margin: 5px 0 0 5px;

    overflow-y: auto !important;
    overflow-x: hidden !important;
    outline: none;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s;

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small;
}

.input {
}

.list {
	background-color: white;
	margin-top: 4px;
}

/* Work around the following GWT style bug:
   * GWT does not apply the conventional even/odd background shading to its
     CellList as it applies to CellTable. Furthermore, GWT gets the class
     names wrong in both CellList and CellTable, naming even rows "Odd"
     and odd rows "Even".
   The work-around is to replicate the CellTable alternate row shading.
   Unfortunately, this entails importing the generated GWT CellList item
   style name as an external style. Note that, as described above, GWT
   applies the "OddItem" style to what would a CSS selector would deem an
   even child element. Note that we can't use the standard CSS nth-child
   even/odd selector either, since that is not supported by GWT without
   more tinkering.
   */
.list .com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem {
	background-color: #f3f7fb;
}

.list .com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem.com-google-gwt-user-cellview-client-CellList-Style-cellListSelectedItem {
    background-color: #628cd5;
}

.pager {
    height: 2em;
}
